*{
    padding: 0;
    margin: 0;
    border-bottom: 0;
    font-family: 'Poppins', sans-serif;
}


header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 55px;
    padding: 10px;

    box-shadow: 2px 0px 6px 0.5px black;
}

.logo > img{
    width: 120px;
}

.button-nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 180px;
    height: 45px;
    background-color: #f1531499;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.button-nav a:hover{
    cursor: pointer;
    color: purple;
}

.text-nav-title{
    /* color: #a6a6a6; */
    /* color: #e6000099; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 48px;
}

#carousel > img{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
} 

#galery-pictures{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 80px;
}

#text-section-images{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    font-style: normal;

    color: #25252599;
    padding-bottom: 5px;
    border-bottom:1px solid #a6a6a6;
}

#title-section-images{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 39px;
    font-style: normal;
}

#section-pictures{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    margin-top: 25px;
    padding-bottom: 25px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 25px;
    padding: 10px;
}

.card{
    display: flex;
    align-items: center;
    width: 550px;
    height: 510px;
    margin: 15px auto;
}
 
.card a{
    display: flex;
    width: 100%;
    height: 90%;
    margin-bottom: 15px;
}

a > img{
    max-width: 100%;
    margin: auto;
}

a > img{
    vertical-align: middle;
    border-style: none;
    width: 90%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all;
    transition: all 0.3s;
}

a > img:hover{
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transform: scale(1) rotate(2.5deg);
   
}

.text-card{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-card > p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    font-style: normal;

    color: #25252599;
    padding-bottom: 5px;
    border-bottom:1px solid #a6a6a6;
}

.text-card > h3{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 39px;
    font-style: normal;
    margin-bottom: 5px;
}

#bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    /* background: rgb(223, 76, 22); */
    background-color: rgb(206, 71, 22);

    position: relative;
    margin-bottom: 50px;
}

#img-slide{
    margin:15px;
    height: 95%;
    width:95%;
    border-radius:5px;
}

.swiper {
    width: 80%;
    height: 75%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 90%;  
}

.swiper-pagination-bullet{
    color: white !important;
}

#whatsapp-button{
    width: 60px;
    position: fixed;
    right: 75px; 
    bottom: 60px;
    z-index: 1000;
}

/*-=-=-=-=-=-=-=-= FOOTER =-=-=-=-=--=-=-=-=-  */

footer{
    width: 100%;
    position: fixed;
    bottom: 0; 
    z-index: 99;
}

#content-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: white;
    
    box-shadow: 0px 2px 6px 0.5px black;
}

#content-footer h3{
    width: 600px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color:black;
    /* color: #a6a6a6; */
    text-align: center;
}

#content-footer p{
    width: 600px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    color:purple;
    /* color: #a6a6a6; */
    text-align: center;
}

#contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 160px;
}

#contacts img{
    width: 30px;
    margin: 5;
    border-radius: 5px;
    /* padding: 10px; */
}

#contacts img{
    background-color: orangered
}

.carousel--wrap{
    display: flex;
    flex-direction: row;
}

#works{
    color: orangered;
    font-style: normal;
    text-decoration: none;  
    cursor: pointer;
}

#works:hover{
    cursor: pointer;
    /* color:  #25252599; */
    color: purple;
}

@media screen and (min-width: 900px) and (max-width: 1200px){
    #section-pictures{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        
        margin-top: 25px;
        padding-bottom: 25px;
    }

    .card{
        display: flex;
        width: 400px;
        height: 400px;
        align-items: center;
        justify-content: space-between;
    }

    #bar{
        height: 170px;
    }

    .swiper {
        width: 80%;
        height: 65%;
      }    

    #content-footer a{
        font-size: 12px;
    }

    #content-footer h3{
        width: 500px;
        font-size: 10px;
    }

    #works{
        font-size: 14px;
    }
    
    #contacts{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100px;
    }

    #contacts img{
        width: 20px;
        margin: 5;
        border-radius: 5px;
    }
}

@media screen and (min-width: 750px) and (max-width: 899px) {
    #section-pictures{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        
        margin-top: 25px;
        padding-bottom: 25px;
    
    }

    .card{
        display: flex;
        width: 280px;
        height: 315px;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
  
    .card a{
        display: flex;
        width: 100%;
        height: 90%;
        margin-bottom: 15px;
    }

    a > img{
        max-width: 100%;
        margin: auto;
    }

    .text-card{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text-card > p{
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
    }

    .text-card > h3{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 39px;
    }

    #bar{
        height: 140px;
    }

    .swiper {
        width: 80%;
        height: 75%;
    }

    #whatsapp-button{
        width: 40px;
        right: 40px;
    }

    /* -=-=-=-=-=-=-Footer-=-=-=-=-=-=- */
   
    #content-footer{
        height: 80px;
        padding: 10px;
    }

    #content-footer p{
        width: 300px;
    }

    #content-footer h3{
        width: 300px;
    }

    #contacts{
        width: 100px;
    }

    #contacts img{
        width: 20px;
    }

    #works{
        width: 140px;
        font-size: 14px;
    }
}
@media screen and (max-width: 749px) {

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #section-pictures{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        
        margin-top: 25px;
        padding-bottom: 25px;
    }

    .card{
        display: flex;
        width: 280px;
        height: 315px;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }

     
    .card a{
        display: flex;
        width: 100%;
        height: 90%;
        margin-bottom: 15px;
    }

    a > img{
        max-width: 100%;
        margin: auto;
    }

    .text-card{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text-card > p{
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
    }

    .text-card > h3{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 39px;
    }

    #bar{
        height: 120px; 
    }

    #whatsapp-button{
        width: 40px;
        right: 40px;
    }

    
    /* -=-=-=-=-=-=-Footer-=-=-=-=-=-=- */

    #content-footer{
        height: 80px;
        padding: 10px;
    }

    #content-footer p{
        width: 300px;
    }

    #content-footer h3{
        width: 300px;
    }

    #contacts{
        width: 100px;
    }

    #contacts img{
        width: 20px;
    }

    #works{
        width: 140px;
        font-size: 14px;
    }
}
@media screen and (max-width: 600px){

    .text-nav-title{
        font-weight: 300;
        font-size: 14px;
        line-height: 38px;
    }

    #nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        width: 100%;
        height: 55px;
        padding: 10px;
    
        box-shadow: 2px 0px 6px 0.5px black;
    }
    
    .logo > img{
        width: 60px;
    }
    
    .button-nav a{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 75px;
        height: 25px;
        font-size: 8px;
    }
    
    .button-nav a:hover{
        cursor: pointer;
        color: purple;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #galery-pictures{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 25px;
    }

    #galery-pictures p{
        display: flex;
        width: 80%;
        line-height: 15px;
    }

    #text-section-images{
        font-size: 12px;
        font-weight: 300;
        line-height: 12px;
    }

    #title-section-images{
        font-size: 22px;
        font-weight: 300;
        line-height: 22px;
        font-style: normal;
    }
    
    #section-pictures{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        margin: auto;
        margin-top: 25px;
        padding-bottom: 25px;
    }

    .grid-container{
        display: flex;
        width: 90%;
        flex-wrap: wrap;

    }

    .card{
        display: flex;
        width: 280px;
        height: 315px;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }

     
    .card a{
        display: flex;
        width: 100%;
        height: 90%;
        margin-bottom: 15px;
    }

    a > img{
        max-width: 100%;
        margin: auto;
    }

    .text-card{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text-card > p{
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
    }

    .text-card > h3{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 39px;
    }


    #bar{
        width: 100%;
        height: 80px;
    }

    .swiper {
        width: 100%;
        height: 85%;
    }

    .swiper-wrapper{
        width: 60%;
    }

    .swiper-slide img {
        display: block;
        width: 90px;  
      }

    #whatsapp-button{
        width: 40px;
        right: 20px;
        bottom: 50px;
    }

    /* -=-=-=-=-=-=-Footer-=-=-=-=-=-=- */
    footer{
        display: flex;
        position: inherit;
    }

    #content-footer{
        display: flex;
        height: 100%;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #content-footer p{
        width: 250px;
        line-height: 18px;
    }

    #content-footer h3{
        width: 250px;
    }

    #contacts{
        width: 100px;
    }

    #contacts img{
        width: 20px;
    }

    #works{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        margin: 0 auto;
    }
}